<%- include('../partials/header') %>

<main class="main" id="heroSingleMain">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <% if (data.alias != null) { %>
                    <h2 class="hero-single-h2">Alias: <%= data.alias %></h2>
                <% } %>
                
                <% if (data.first_name != null || data.last_name != null) { %>
                    <p class="hero_name">
                        <%= data.first_name %> <%= data.last_name %>
                    </p>
                <% } %>
                <p class="species-text"><%= data.species %></p>
                <p class="origin-text">Place of origin: <%= data.place_of_origin %></p>
                <p class="alingment-text"><%= data.alignment %></p>
                <h2 class="hero-single-h2">Powers</h2>
                <ul class="list-group list-group-flush" id="heroPowersList">
                    <% data.powers.forEach(heroPower => { %>
                        <li class="list-group-item heropower-list-item">
                            <%= heroPower %>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-7">
                <img src="https://placehold.co/450x550" alt="placeholder img" class="img-fluid image hero-single-image" />
            </div>
            <div class="col-2">
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <% if (data.hero_id > 1) { %>
                            <li class="page-item">
                                <a href="/heroes/<%= data.hero_id - 1 %>" class="page-link">Prev</a>
                            </li>
                        <%} %>

                        <% if (data.hero_id < count) { %>
                            <li class="page-item">
                                <a href="/heroes/<%= data.hero_id + 1 %>" class="page-link">Next</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                <%- include('../partials/heroAside') %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>