<%- include('../partials/header') %>

    <main class="main" id="homeMain">
        <div class="container">
            <h2 class="home-heading text-center"><%= heroName %></h2>
            <div class="home-figure">
                
                    <img src="https://placehold.co/250x350" alt="image of <%= heroName %>" class="img-fluid image home-img rounded" />
                    <p class="figure-text text-center">
                        <%= message %>
                    </p>
                </figure>
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>
