<%- include('../partials/header') %>

    <main class="main" id="homeMain">
        <div class="container">
            <h2 class="home-heading text-center"><%= heroName %></h2>
            <figure class="figure home-figure mx-auto">
                <img src="https://placehold.co/450x550" alt="image of <%= heroName %>" class="img-fluid image figure-img home-img d-block mx-auto" />
                <figcaption class="figure-caption"><%= message %></figcaption>
            </figure>
        </div>
    </main>

<%- include('../partials/footer') %>
